table{
    color: #0a0a0a;
    text-align: center;
    border-collapse: collapse;
    font: normal 3em Arial, Helvetica, sans-serif;
}

tr{
    height: 16.02vh;
    background-color: #000000;
}

td{
    width: 25vw;
    border: 1px solid #000000;
}

#inputBox{
    background-color: #4e494d;
    text-align: right;
    width: 100%;
    font-size: 2em;
    color: #000000;
    border: 0px;
}

.digitButton{
    background-color: #f5008b;
}

.operatorButton{
    background-color: #0affe2;
}

.ACButton{
    background-color: #656165;
}